*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    background: #282838;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 1.3rem;
    font-weight: 400;
}

/* General */

h1 {
    font-weight: 600;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
a:hover {
    color: purple;
}

/* Header */

header {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}
header img {
    height: 5em;
    border-radius: 50%;
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-item {
    padding: 0 3rem;
    font-size: 1.5rem;
    color: #fff;
    transition: transform 500ms ease-in-out;
}
.nav-item:hover {
    transform: translateY(-5px);
}
.divider {
    height: 60px;
    border: 1px solid #fff;
    align-self: center;
}

/* Main */

main {
    padding: 10em;
}
.image-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image-wrapper img {
    height: 20em;
    width: 20em;
    object-fit: contain;
    margin-bottom: 5em;
    transition: transform 500ms ease-in-out;
}
.image-wrapper img:hover {
    transform: scale(1.2, 1.2);
}
